.custom-property-marker {
  position: relative;
  width: 1.25rem;
  height: 1.25rem;
  cursor: pointer;
  border-radius: 9999px;
  border: 1px solid var(--foreground);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: var(--primary-foreground);
  transition: all 0.2s ease-out;

  &:not(.custom-property-marker__favorite):not(.custom-property-marker__seen) {
    border-color: var(--foreground);
    background-color: var(--primary);
  }

  &__favorite {
    border-color: #f87171;
    background-color: #f87171;
  }

  &__seen {
    border-color: var(--foreground);
    background-color: #5967a3;

    body.dark & {
      background-color: #8e97c9;
    }
  }

  &__details-view {
    position: relative;
    height: auto;
    width: auto;
    min-width: 2.5rem;
    border-radius: 8px;
    border: none;
    padding: 0.25rem 0.5rem;
    text-align: center;
    font-size: 0.875rem;
    box-shadow: none;

    &.custom-property-marker__favorite::after {
      border-top-color: #f87171 !important;
    }

    &.custom-property-marker__seen::after {
      border-top-color: #5967a3 !important;

      body.dark & {
        border-top-color: #8e97c9 !important;
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-top: 8px solid hsl(var(--primary));
    }
  }
}
