{
  "semi": true,
  "trailingComma": "none",
  "singleQuote": true,
  "printWidth": 80,
  "arrowParens": "always",
  "endOfLine": "auto",
  "bracketSameLine": false,
  "plugins": ["prettier-plugin-tailwindcss"]
}
